<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title>se connecter </title>
        <link rel="stylesheet" type="text/css" href="{% static  'logine.css' %}">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
    </head>
    <body>
        <div class="medias">
            <p class="p">igetsense </p>
            <span>votre plateforme de telechargements educatifs preférées</span>
            <h1>Se connecter </h1>
            <form method="post" >
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit"> se connecter </button>
            </form>
        </div>
        <div class="footer">
            <a href="" class="href"><img src="{% static 'img/733547.png' %}" class="img"></a>
            <a href="" class="href"><img src="{% static 'img/3670051.png' %}" class="img"></a>
            <a href="" class="href"><img src="{% static 'img/8299667.png' '%}" class="img"></a>
            <a href="{% url  'signup' %}" class="foooterahref">s'inscrire</a>
        </div>
    </body>
</html>